###########################################################
 Welcome to {{ ansible_hostname }} managed by Ansible 🛠️
 All activities are logged and monitored.
###########################################################
